body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

#show-books-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#show-books-btn:hover {
    background-color: #444;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-container {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-container h2 {
    margin-top: 0;
}

.quote-container {
    background-color: #f7f7f7;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-container blockquote {
    margin: 0;
    padding: 0;
}

.quote-container blockquote p {
    font-style: italic;
}